data\
homework\.ipynb_checkpoints
data/Part01/installments_payments.csv
data/Part01/application_test.csv
data/Part01/application_train.csv
data/Part01/bureau.csv
data/Part01/bureau_balance.csv
data/Part01/credit_card_balance.csv
data/Part01/example.jpg
data/Part01/example.mat
data/Part01/example.npy
data/Part01/example.pkl
data/Part01/example.txt
data/Part01/example01.json
data/Part01/example02.json
data/Part01/HomeCredit_columns_description.csv
data/Part01/POS_CASH_balance.csv
data/Part01/previous_application.csv
data/Part01/sample_submission.csv
